table{
    font-family: Helvetica, sans-serif;
    border-collapse:collapse;
    border-width: 1px;
    border-style: solid;
    border-color: deeppink;
}


th{
    font-weight: 800;
    background-color: aqua;
    color: darkorange;
}

